*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins";
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.mainbtn{
    display: block;
    background: #fff;
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #000;
}

.mainbtn:hover{
    color: #fff;
    background: #000;
    border: 1px solid #fff;
}

/* Header */

#header{
    background: #fff;
    width: 100%;
    height: 7vh;
    position: fixed;
    text-align: center;
    transition: top 0.2s;
    z-index: 5;
}

#header .logo{
    margin-top: 8px;
    color: #000;
}

nav{
    height: 50%;
    position: fixed;
    left: -175px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    background: #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 5px double #fff;
    transition: all 0.5s ease-in-out;
    
}

nav:hover{
    left: 0;
    
}
nav:hover #navigation{
    display: none;
    
}

ul{
    height: 100%;
    width: 100%;
    list-style: none;  

    transition: all 1s ease-in-out;
}
/* add class for nav */
.showmenu{
    right: 0 !important;

}

ul li{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    position: relative;
    top: 13%;
    

    
}

ul li:hover {
    background: #fff;
}

ul li:hover a{
    color:#000;
}
ul li a{
    text-decoration: none;
    color: #fff;
    
}
#navigation{
    position: absolute;
    right: 0;
    padding: 0 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;

    
}

#navigation:hover{
    cursor: pointer;
}
/* Main */
main{
    background: url(./img/bg1.png);
    height: 50vh;
    display: flex;
    border-left: 5px double #fff;
    border-right: 5px double #fff;
    color: #f4f8fb;
}

main div{
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

main h1{
    margin-top: 50px;
    font-size: 25px
}

main p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

main a{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    color: #fff;
}

main a:hover{
    color: rgb(187, 185, 185);
}
/* Section 1 */

#section1{
    background-color: #000000;
    color: #fff;
    border: 5px double #fff;
   
}

.section1-content{
    padding-bottom: 40px;
}

.section1-content img{
    height: 350px;
    width: 300px;
}

.section1-left h1{
    text-align: left;
    width: 90%;
    margin: auto;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.section1-left p{
    color: #f4f8fb;
    width: 90%;
    margin: auto;
    text-align: left;
    font-size: 15px;
}

.section1-right{
    display: none;
}

/* Section 2 */

#section2{
    background: #fff;
    width: 90%;
    margin: auto;
    
}
.section2-content{
    padding: 40px 0;
}

#section2 .box h1, .box p{
    color: #72767c;
}

#section2 .box h1{
    font-size: 30px;
}

#section2 p{
    font-size: 15px;
}

#section2 a{
    margin: 10px 0;
}

/* Section 3 */

#section3{
    background: #000;
    border: 5px double #fff;
    width: 90%;
    margin: auto;
}

.section3-content p{
    font-size: 15px;
    margin-top: 20px;
}

#section3 h1{
    margin-top: 40px;
    font-size: 30px;
}

.section3-content{
    display: flex;
    flex-direction: column;
    color: #fff;
}


#section3 img{
    width: 100%;
    height: 150px;
    align-self: center;
    border: 5px double #fff;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-top: 10px;
}


.section4-content{
    color: #000;
    padding: 50px 20px;
    
}

.section4-content div > *{
    padding: 10px 0;
}

footer{
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
}

@media only screen and (min-width: 768px){
    #open{display: none;}
    
    main{
        height: 100vh !important;
    }
    main h1{
        font-size: 50px;
    }

    .section1-content{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
    } 

    .section1-content img{
        height: 350px;
        width: 300px;
    }
    
    .section1-left{
        width: 450px;
        justify-content: center;
        align-self: center;
    }

    .section1-left h1{
        font-size: 50px;
        text-align: left;
        margin-top: 0;
        padding-top: 0;
    }

    .section1-left p{
        color: #f4f8fb;
        margin: 15px 0;
    }
    
    .section1-right{
        padding: 10px;
        display: block;
    }

    .section2-content{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
        padding: 100px 0;
    } 

    .section2-content a{
        position: relative;
        bottom: 0;
    }

    .section2-content p{
        font-size: 15px;
    }

    .section2-content h1{
        font-size: 30px !important;
    }

    #section3 img{
        height: 400px;
        margin: 20px 0;

    }

    .section4-content{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    }

    .section4-content div{
        width: 20%;
    }

    .section4-content div > *{
        padding: 10px 0;
    }

}